$deviceWidth: 50vw;
$deviceHeight: 27vh;
$ctaButton: #3F51B5;

#device {
	width: $deviceWidth;
	height: $deviceHeight;
	padding-top: 0.26 * $deviceHeight;
	padding: 2vw;
	background-color: #041C32;
	color: #ECB365;

	#screen {
		display: block;
		max-width: 0.96 * $deviceWidth;
		height: 0.13 * $deviceHeight;	
		margin-bottom: 0.4vh;
		margin-left: 0.8vw;
		color: inherit;
		border: 1px solid white;
	}

	#buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		button {
			height: 0.13 * $deviceHeight;
			color: white;
			background-color: #864879;
			margin: 1.25vw;
			border: none;
		
			&:active {
				background-color: #ECB365;
				color: #864879;
			}
		}
		#equalBtn {
			background-color: $ctaButton;
		}
	}
}
